.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  color: #007bff;
  transition: color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.logo {
  cursor: pointer;
}

.header:hover {
  color: #0056b3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.menu {
  margin-left: auto;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown {
  position: relative;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s;
  padding: 8px 16px;
  border-radius: 4px;
}

.menu a:hover {
  color: #fff;
  background-color: #0056b3;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  z-index: 1;
  margin-top: 5px;
  border-radius: 4px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  padding: 10px;
}

.dropdown-content li a {
  color: #007bff;
  display: block;
  text-align: right;
  transition: background-color 0.3s;
}

.dropdown-content li a:hover {
  background-color: #f1f1f1;
  color: #0056b3;
}